.search-button,
.location-button {
  background: #ece2df;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 25px;
  border: none;
  height: 50px;
  color: white;
  border-radius: 5px;
}

form {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 10px 20px;
  outline: none;
}

.city-search {
  flex: 1;
  border: 0;
  font-size: 16px;
  border: thin solid darkgrey;
  border-radius: 5px;
  padding: 10px 15px;
}

.search-city,
.search-button,
.location-button {
  margin-right: 10px;
  margin-left: 10px;
}
