.search-button,
.location-button {
  background: #ece2df;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 25px;
  border: none;
  height: 50px;
  color: white;
  border-radius: 5px;
}

form {
  max-width: 80%;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 10px 0;
  outline: none;
  margin-left: 40px;
}

.city-search {
  flex: 1;
  border: 0;
  font-size: 16px;
  border: thin solid darkgrey;
  border-radius: 5px;
  padding: 10px 15px;
}

.city-search,
.search-button,
.location-button {
  margin: 0 5px;
}

.degrees {
  font-size: 48px;
  padding: 5px;
}

.units {
  font-weight: 400;
}

.now {
  text-align: center;
}

.laterHeading,
.weekForecastHeading {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: left;
}

hr {
  background-color: darkgray;
}
